parameters:
    database_host: mysql
    database_port: 3306
    database_name: mydb
    database_user: user
    database_password: userpass
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    secret: ChangeDistTokenForSafety