# Php/Xdebug
XDEBUG_REMOTE_HOST=your.IP
XDEBUG_REMOTE_PORT=9000
XDEBUG_IDEKEY=PHPSTORM

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=userpass

# Init
DB_HOSTNAME=mysql
DB_PORT=3306
DB_DBNAME=mydb
DB_USERNAME=user
DB_PASSWORD=userpass